.left-block  
  %ul.specialists-list
    - @specialists.each do |spec|
      %li.specialist
        .avatar
          = image_tag('user.png')
        .info
          %ul
            %li 
              %h3 #{spec.name}
            %li #{spec.city}, #{spec.country}
            %li #{spec.rate}$/hour
          %span.profile-link 
            =link_to 'view profile', specialist_path(spec)
.right-block.specialists-search
  %h2 Search
  %form
    %input{placeholder: 'Country'}
    %input{placeholder: 'Rate'}
    %input{placeholder: 'Technology'}
    %input{placeholder: 'Level'}
    %br
    %button.search-find{type: 'submit'} Find