.job
  .left-block.job-description
    %ul
      %li
        %h2 #{@job.title}
      %li Posted #{@job.created_at.strftime("%d/%m/%y")}
      %br
      %li Format: #{@job.format}
      %li Area: #{@job.area}
    .description
      %h4 Overview
      %p This role is responsible for guiding students and providing expertise across the three key sections of our online course: Data Analysis, Working with Databases, and Communication and Contextualization of Data. 
      %br
      %p This individual should be an expert in Excel (or other spreadsheet software), comfortable working with SQL, and an excellent communicator with a unique design mindset for building effective data-driven presentation and building influential data dashboards.
    .skills
      %h4 Required skills
      %ul.skills-list
        %li HTML5
        %li CSS#
        %li Sass/SCSS
        %li flexbox
        %li responsive markup
  .right-block.company-info
    - r_company = Company.all.shuffle.first 
    .company-logo
      %a{href: company_path(r_company)}
        = image_tag('logo.png')
      %ul
        %li #{r_company.name}
        %li #{r_company.city}
        %li 
          %a{href: "#{r_company.url}", target: 'blank'} #{r_company.url}
    %button.apply-button Apply to this position