.company
  .company_photo
    =image_tag('company.jpg')
  .left-block.company_block
    %ul.credentials
      %li
        .company-logo-image
          = image_tag('logo.png')
      %li 
        %h2 #{@company.name}
      %li 
        %a{href: "#{@company.url}", target: 'blank'} #{@company.url}
      %li #{@company.city}, #{@company.country}  
    .description
      %h4 Overview
      %p Formstack is a 9 year old company with its roots in Indianapolis. Our customers span 110 different countries, and our employees live and work across the U.S. and the globe.  We have employees in: Oklahoma, North Carolina, Illinois, California, Kentucky, Poland, Georgia, Canada, the Netherlands, Pennsylvania, Georgia, Indiana, Texas, Colorado, & Maryland. We provide a remote work environment that is flexible and provides great freedom for those who can perform.  With that said, relocation is not required for those located outside Indianapolis.
  .right-block.company_stats
    %h3 Jobs posted
    %ul.jobs-posted
      - @random_jobs.first(3).each do |r_job|
        %li 
          %a{href: job_path(r_job)} #{r_job.title}
        