!!!
%html
  %head
    %title RemoteTeams
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .logo 
      .logo-inner
        %h1 #{link_to 'RemoteTeams', root_path}
        %span Your ideas worth to be done professionaly
    %header
      .container
        .job-applier
          #{link_to 'Post a job(100$/month)', new_job_path}
        %ul.header-menu
          - c = Company.all.shuffle.first
          %li #{link_to 'Company Name', company_path(c)}
          %li #{link_to 'Sign up', new_company_path}
        %ul.sign-block
    %main
      .container
        = yield