!!!
%html
  %head
    %title Mdleague
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .logo 
      .logo-inner
        %h1 RemoteTeams
        %span Your ideas worth to be done professionaly
    %header
      .container
        .job-applier
          %a{href: ''} Post a job(100$/month)
        %ul.header-menu
          %li #{link_to 'Sign in'}
          %li #{link_to 'Sign up'}
        %ul.sign-block
    %main
      .container
        = yield