!!!
%html
  %head
    %title Mdleague
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .logo 
      .logo-inner
        %h1 MDLeague
        %span World's top markup oportunities and specialists
    .sign-block
      %ul
        %li #{link_to 'Add company', new_company_path}
        %li #{link_to 'Add job', new_job_path}
        %li #{link_to 'Add specialist', new_specialist_path}
    %header
      .container
        %ul.header-menu
          %li 
            %a{href: '/'} Jobs (#{Job.all.count})
          %li
            %a{href: companies_path} Companies (#{Company.all.count})
          %li
            %a{href: specialists_path} Specialists (#{Specialist.all.count})
    %main
      .container
        = yield